<div class="top">
    <h1>{{product.name}}</h1>
    <div style="display: flex; align-items: center;">
        <p-rating [(ngModel)]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
        <p-button icon="pi pi-shopping-cart" (onClick)="addToCart(product.id)" style="margin-left: 20px;"
            [disabled]="product.status === 'OUTOFSTOCK'"></p-button>
        <h3 style="color: red; margin-left: 20px;">{{product.price | currency: 'VND'}}</h3>
    </div>
</div>
<br/>

<div class="product-details">

    <div class="left">
        <img src="{{product.image_url}}" />
        <br />
        <br />
        <h3 *ngIf="product.description.length > 1">Description</h3>
        <p style="text-align: justify;" [innerHTML]="formatJsonString(product.description)"></p>
        <!-- <p style="text-align: justify;">{{product.details}}</p> -->
    </div>
    <div style="width: 20px;"></div>
    <div class="right">
        <h3>Specifications</h3>
        <table class="table-specification">
            <tbody>
                <tr *ngFor="let spec of specification">
                    <td class="title-specification">{{ spec[0] }}</td>
                    <td class="content-specification">{{ spec[1] }}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<br />

<p-card class="review" >
    <h3>Customers' review</h3>
    <p-card class="review-element" *ngFor="let item of order_item">
        <p>Bought {{item.quantity}} products</p>
        <p-rating [(ngModel)]="item.rate" [readonly]="true" [cancel]="false"></p-rating>
        <!-- <textarea readonly="true" pInputTextarea style="width: 100%;" [(ngModel)]="item.comment"></textarea> -->
        <p>{{item.comment}}</p>
    </p-card>
</p-card>
<br/>
