<!-- NAVBAR -->
<nav style="min-width: 1000px">
    <a href="" class="nav-link" style="width: 150px;">Laptop Center</a>
    <form action="#">
        <div class="form-input" style="margin-left: 30%; width: 30%;">
            <input type="search" placeholder="Search...">
            <button style="margin-left: 10px;" pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded"></button>
        </div>
    </form>
    <a href="" class="profile">
        <img
            src="https://vcdn1-vnexpress.vnecdn.net/2022/02/09/son-tung-mtp-8052-1632297031-2149-1644377166.jpg?w=0&h=0&q=100&dpr=1&fit=crop&s=B8_7p2IFO-Fug3eZuXPEBg">
    </a>
</nav>
<!-- NAVBAR -->

<!-- banner -->
<div style="align-items: center; text-align: center; ">
    <p-carousel [value]="banner" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h1 style="color: red;">
                <i><b>Hot</b></i>
            </h1>
            <br />
        </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content hover-pointer">
                    <div class="mb-3">
                        <img style="height: 50px;" src="assets/logo.png" [alt]="product.name" class="product-image" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{product.name}}</h4>
                        <h6 class="mt-0 mb-3">${{product.price}}</h6>
                        <span
                            [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
<!-- banner -->

<!-- brands -->
<div
    style="border-radius: 5000px; background-color: beige; margin-left: 10%; margin-right: 10%; height:max-content; width: 80%; padding: 10px; display: flex; flex-wrap: wrap; justify-content: center; min-width: 1000px">
    <div class="hover-pointer"
        style="border-radius: 5000px; background-color: orange; width: 150px; orientation:portrait; align-items: center; text-align: center;padding: 10px; margin: 10px; display: inline;"
        *ngFor="let b of brands" [routerLink]="['../', b.name]">
        <img src="{{b.img}}" style="height: 30px;" />

        <p style="display: inline;">{{b.name}}</p>
    </div>

</div>
<!-- brands -->
<br />

<!-- table content -->
<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-left: 10%; margin-right: 10%;">
    <div class="col" *ngFor="let c of contents" style="min-width: 400px;">
        <div class="card shadow-sm">

            <div style="width: 380px; height: 270px; align-self: center; margin-top: 5px;" class="hover-pointer">
                <img style="height: 100%; width: 100%;"  src="{{c.img}}"/>
                
            </div>
            <h3 style="margin-left: 15px; margin-top: 15px; height: 75px;" class="hover-pointer">{{c.name}}</h3>
            <h5 style="margin-left: 15px; color: red;">${{c.price}}</h5>

            <div class="card-body" style="width: 400px; height: max-content;">
                <p class="card-text" style="height: 150px; overflow: hidden; text-overflow: ellipsis;">{{c.body}}</p>
            </div>
        </div>
    </div>
</div> -->


<div class="card">
    <p-dataView #dv [value]="contents" [paginator]="true" [rows]="15" filterBy="name"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div style="justify-content:space-between ; display: flex;">
                <p-dropdown  [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" 
                styleClass="mb-2 md:mb-0"></p-dropdown>
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter(($any($event.target)).value)"
                    >

                </span>
                
            </div>
        </ng-template>

        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-4" style="width: 470px;" >
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.category}}</span>
                        </div>
                        <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                    </div>
                    <div class="product-grid-item-content">
                        <img style="width: 100%; height: 250px;" src="{{product.img}}" [alt]="product.name"/>
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description" style="height: 150px; overflow: hidden; text-overflow: ellipsis;">{{product.body}}</div>
                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="product-grid-item-bottom">
                        <h2 class="product-price">${{product.price}}</h2>
                        <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>


<!-- table content -->

<br />

<!-- <router-outlet></router-outlet> -->