<div mat-dialog-title>
    <h1>Order Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Note</mat-label>
                <textarea  matInput formControlName="note"></textarea>
              </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Create Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="created_on_utc">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
    
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Customer ID</mat-label>
                <input matInput type="number" formControlName="customer_id">
            </mat-form-field>         
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Shipping Address Id</mat-label>
                <input matInput type="number" formControlName="shipping_address_id">
            </mat-form-field>         
        </div>
        <div class="row">
            <mat-form-field appearance="outline" >
                <mat-label>Total Price</mat-label>
                <input matInput placeholder="0"  formControlName="total_price">
                <span matTextPrefix>₫&nbsp;</span>              
            </mat-form-field>           
        </div>  

        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="status">
                <mat-label><b>Status</b></mat-label>
                <mat-radio-button value="PENDING">PENDING</mat-radio-button>
                <mat-radio-button value="CONFIRMED">CONFIRMED</mat-radio-button>
                <mat-radio-button value="SHIPPING">SHIPPING</mat-radio-button>
                <mat-radio-button value="COMPLETED">COMPLETED</mat-radio-button>
                <mat-radio-button value="DECLINED">DECLINED</mat-radio-button>
              </mat-radio-group>
        </div>

        <!-- <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category_id">
                  <mat-option *ngFor="let val of categories" [value]="val">
                        {{val}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button"  [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
    </div>
</form>

