<!-- table content -->
<div class="card">
    <p-dataView #dv [value]="contents" [paginator]="true" [rows]="15" filterBy="name" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div style="justify-content:space-between ; display: flex;">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                    (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name"
                        (input)="dv.filter(($any($event.target)).value)">
                </span>
            </div>
        </ng-template>

        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-4" style="width: 470px;">
                <div class="product-grid-item card">
                    <!-- <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.categoryId}}</span>
                        </div>
                        <span [class]="'product-badge status-' + product.status.toLowerCase()">{{product.inventoryStatus}}</span>
                    </div> -->
                    <div class="product-grid-item-content" [routerLink]="['/product/', product.id]">
                        <img class="hover-pointer" style="width: 400px; height: 400px;" src="{{product.image_url}}" [alt]="product.name" />
                        <div class="product-name hover-pointer">{{product.name}}</div>
                        <div class="product-description"
                            style="height: 150px; overflow: hidden; text-overflow: ellipsis;">{{product.description}}</div>
                        <p-rating [ngModel]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="product-grid-item-bottom">
                        <h2 class="product-price" style="color: red;">{{product.price | currency:'VND'}}</h2>
                        <p-button icon="pi pi-shopping-cart" (onClick)="addToCart(product.id)"
                            [disabled]="product.status === 'OUTOFSTOCK'"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>


<!-- table content -->

<br />