<div class="login-page">
    <div class="form">
        <h5>Registration</h5>
        <form class="register-form" [formGroup]="registerform" (ngSubmit)="proceedRegister()">
            <input type="text" placeholder="Username" formControlName="username"/>
            <input type="text" placeholder="First Name" formControlName="first_name"/>
            <input type="text" placeholder="Last Name" formControlName="last_name"/>
            <input type="password" placeholder="Password" formControlName="password"/>
            <input type="text" placeholder="Email" formControlName="email"/>
            <input type="tel" placeholder="Phone Number" formControlName="phone_number"/>
            <input type="date" placeholder="Birthdate" formControlName="date_of_birth"/>
            <div class="radio-group" formControlName="gender">
                <p>Gender</p>
                <input type="radio" name="gender" value="male"> Male
                <input type="radio" name="gender" value="female"> Female
                <input type="radio" name="gender" value="else"> Else
            </div>
            <button>create</button>
            <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
        </form>
    </div>
</div>