.tabView{
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    width: 80%;
}

.content-bar{
    border-top: .0625rem solid #efefef;
    padding-top: 10px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30%;
}

.table-content{
    border-collapse: separate;
    border-spacing: 0 20px;
}

.table-content .td-right input{
    width: 300px;
}

.table-content .td-right label input{
    width: auto;
    margin-left: 10px;
}

.radio-group label {
    display: inline-block;
    margin-right: 20px;
}  

.avt-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: .0625rem solid #efefef;
}

.td-left{
    text-align: right;
    margin-left: 100px;
}

.td-right{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}