<!-- NAVBAR -->
<nav style="min-width: 1000px">
    <a href="" class="nav-link" style="width: 150px;">Laptop Center</a>
    <form action="#">
        <div class="form-input" style="margin-left: 30%; width: 30%;">
            <input type="search" placeholder="Search...">
            <button style="margin-left: 10px;" pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded"></button>
        </div>
    </form>
    <a href="#" class="profile">
        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    </a>
</nav>
<!-- NAVBAR -->


<!-- banner -->
<div style="align-items: center; text-align: center; ">
    <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h1 style="color: red;">
                <i><b>Hot</b></i>
            </h1>
            <br />
        </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content hover-pointer">
                    <div class="mb-3">
                        <img style="height: 50px;" src="assets/logo.png" [alt]="product.name" class="product-image" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{product.name}}</h4>
                        <h6 class="mt-0 mb-3">${{product.price}}</h6>
                        <span
                            [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
<!-- banner -->


<!-- brands -->
<div style="border-radius: 5000px; background-color: beige; width: 10%; margin-left: 10%; margin-right: 10%; height:max-content; width: 80%; padding: 10px; display: flex; flex-wrap: wrap; justify-content: center; min-width: 1000px">
    <div class="hover-pointer" style="border-radius: 5000px; background-color: orange; width: 150px; orientation:portrait; align-items: center; text-align: center;padding: 10px; margin: 10px; display: inline;" *ngFor="let b of brands">
        <img src="{{b.img}}" style="height: 30px;"/>
        
        <p style="display: inline;">{{b.name}}</p>
    </div>

</div>

<br/>
<!-- brands -->


<!-- table content -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-left: 10%; margin-right: 10%;">

    <div class="col" *ngFor="let c of contents" style="min-width: 400px;">
        <div class="card shadow-sm">

            <div style="width: 380px; height: 270px; align-self: center; margin-top: 5px;" class="hover-pointer">
                <img style="height: 100%; width: 100%;"  src="{{c.img}}"/>
                
            </div>
            <h3 style="margin-left: 15px; margin-top: 15px;" class="hover-pointer">{{c.name}}</h3>

            <div class="card-body" style="width: 400px; height: 230px;">
                <p class="card-text" style="height: 150px; overflow: hidden; text-overflow: ellipsis;">{{c.body}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <p style="margin-right: 5px; color: red;">${{c.price}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- table content -->


<br/>
<router-outlet></router-outlet>
